{
  "env":     {
    "jest": true
  },
  "globals": {
  },
  "rules":   {
    // requires at least one space between the key and the colon in object literals
    "key-spacing": [
      "error",
      {
        "beforeColon": true,
        "afterColon":  true,
        "on":          "value"
      }
    ],
    "align":       {
      "beforeColon": true,
      "afterColon":  true,
      "on":          "value",
      "mode":        "strict"
    }
  }
}
